html, body, div, p {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	overflow:hidden;
}

video, audio {
	display: block;
}

iframe {
	border:none;
}

.neurosmart {
	background-color: #ffffff;
	min-width: 600px;
	min-height: 400px;
	width:100%;
	height: 100%;
	padding-right:24px;
	box-sizing: border-box;
	font-family: Helvetica, Arial, "sans-serif";	
	font-size: 12px;
	position: relative;
}

.neurosmart.fullscreen {
	top: 50vh;
	transform: translateY(-50%);
}

.neurosmart hr {
	border-color: red;
}

.neurosmart .neurosmart-intro {
	position: absolute;
	width: 100%;
	height: 100%;
}

.neurosmart .neurosmart-intro.ns-hidden {
	/* display: none; */
}
	
.neurosmart .neurosmart-intro .neurosmart-content {
	position: relative;
	height: 100%;
}

.neurosmart .neurosmart-intro .neurosmart-content .cover {
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../images/choufleur.png);
	background-size: contain;
	background-position:center;
	left:0;
	top:0;
	width: calc(100% - 225px);
	height: 100%;
}

.neurosmart .neurosmart-intro .neurosmart-content .cover .neurosmart-title {
	position: relative;
	top:50%;
	left:45%;
}

.neurosmart .neurosmart-intro .neurosmart-content .cover .inria-logo {
	float: right;
	margin-top:15px;
	margin-right:20px;
	background-repeat: no-repeat;
	background-image: url(../images/inria.png);
	background-size: contain;
	width:80px;
	height: 55px;
}

.neurosmart .neurosmart-intro .neurosmart-content .description {
	position: absolute;
	right: 0;
	width: 225px;
	height: calc(100% - 82px);
	background-color: #fae534;
	padding:62px 0 20px 0;
	background-repeat: no-repeat;
	background-image: url(../images/logo-transparent.png);
	background-size: 64px 46px;
	background-position: 10px 8px;
	-webkit-box-shadow: -5px 0px 5px 0px rgba(153,153,153,1);
	-moz-box-shadow: -5px 0px 5px 0px rgba(153,153,153,1);
	box-shadow: -5px 0px 5px 0px rgba(153,153,153,1);	
}

.neurosmart .neurosmart-intro .neurosmart-content .description-content {
	width: 196px;
	height: 100%;
	padding: 5px 10px;
	background-color: #4d4509;
	box-sizing: border-box;
	color: white;
	position: relative;
}

.neurosmart .neurosmart-intro .neurosmart-content .description-content .description-content-footer {
	position: absolute;
	bottom: 15px;
}
.neurosmart .neurosmart-intro .neurosmart-content .description-content .description-content-footer .neurosmart-scenario-selector {
	width:175px;
}


.neurosmart .neurosmart-intro .neurosmart-content .description h1 {
	font-size: 18px;
	text-transform: uppercase;
}

.neurosmart .neurosmart-intro .neurosmart-content .description .scenario-description {
	margin-bottom: 10px;
}

.neurosmart .neurosmart-intro .neurosmart-content .description .start-btn {
	display: none;
	cursor: pointer;
}

.neurosmart .neurosmart-intro .neurosmart-content .description .start-btn.ns-ready {
	display: inline-block;
}

.neurosmart .neurosmart-app {
	opacity:0; /* n'empêche pas le chargement du canvas 3D */
	pointer-events: none;
}

.neurosmart .neurosmart-app,
.neurosmart .neurosmart-presentation {
	position: absolute;
	margin: 0 29px 20px 29px;
	width: calc(100% - 58px);
	height: 100%;
}

.neurosmart .neurosmart-app .title {
	text-transform: uppercase;
	font-weight: bold;
}

.neurosmart .neurosmart-app.ns-visible {
	opacity:1;
	pointer-events: auto;
}

.neurosmart .title {
	height: 62px;
	line-height: 62px;
}

.neurosmart .neurosmart-app .neurosmart-content {
	width:100%;
	padding: 10px;
	box-sizing: border-box;
	height: calc(100% - 82px);
	background-color: #151515;
}

.neurosmart .neurosmart-app .neurosmart-content > div {
	float: left;
	position: relative;
	width: calc(50% - 10px);
	height: 100%;
}

.neurosmart .neurosmart-debug {
	float: none;
	position: absolute;
	top:0;
	left:0;
	background-color: #fae534;
	width:100%;
	height: 100%;
	margin-nonz:-20px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8);
	display: none;
	z-index: 1;
}

.neurosmart .neurosmart-debug.minimized {
	top: calc(100% - 30px);
}

.neurosmart .neurosmart-debug .neurosmart-debug-tabs {
	height: 28px;
	padding-top: 5px;
	margin-left:30px;
}

.neurosmart .neurosmart-debug .neurosmart-debug-tab {
	padding:6px 30px;
	margin: 0 4px 0 2px;
	float: left;
	cursor: pointer;
	/* inactive */
	background-color: rgba(255,255,255,0.5);
	color:darkgrey;
}

.neurosmart .neurosmart-debug .neurosmart-debug-minimize {
	float: right;
	cursor: pointer;
	color:darkgrey;
	margin: 1px 10px 0 10px;
	padding: 0 10px;
	font-size: 1.2em;
	background-color: rgba(255,255,255,0.5);
}

.neurosmart .neurosmart-debug .neurosmart-debug-minimize:hover {
	background-color: rgba(255,255,255,1);
}

.neurosmart .neurosmart-debug .neurosmart-debug-tab.active {
	color:black;
	background-color: rgba(255,255,255,1);
}

.neurosmart .neurosmart-debug .neurosmart-debug-camera {
	float: left;
	margin: 3px 4px 0 2px;
	padding: 5px 10px;
	font-size: 15px;
}

.neurosmart .neurosmart-debug .neurosmart-debug-camera .vars {
	font-weight: bold;
}

.neurosmart .neurosmart-debug .neurosmart-debug-contents {
	background-color: white;
	width:100%;
	height:100%;
	padding: 20px;
}

.neurosmart .neurosmart-debug .neurosmart-debug-contents > div {
	display: none;
}

.neurosmart .neurosmart-debug .neurosmart-debug-contents > div.active {
	display: block;
}

.neurosmart .neurosmart-debug .neurosmart-debug-content {
	width: 98%;
	height: calc( 100% - 80px );
	overflow:auto;
}

.neurosmart .neurosmart-debug-content.ns-json .number {
}

.neurosmart .neurosmart-debug-content.ns-json .boolean {
}

.neurosmart .neurosmart-debug-content.ns-json .string {
}

.neurosmart .neurosmart-debug-content.ns-json .key {
	font-weight: bold;
	color: brown;
}

#neurosmart-html-content {
	height: calc(100% - 30px);
	overflow: auto;
	color: white;
}

#neurosmart-html-content .last {
	/* border-bottom: 1px solid red; */
}

#neurosmart-html-content .ns-text {
	font-size:1rem;
	padding: 2% 20px 1% 20px;
}

#neurosmart-html-content .ns-text ul {
	margin: 1% 0px;
}

#neurosmart-html-content .ns-text a {
	color:white;
}

#neurosmart-html-content .ns-image {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow-y: hidden;
	display: inline-block;
	margin-top: 2%;
}

#neurosmart-navigation {
	margin: 10px 0;
	height: 10%;
}

#neurosmart-brain {
	background-color: white;
	margin-left: 15px;
	width: 100%;
	height: 100%;
}

#neurosmart-brain canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.neurosmart.json {
	background-image: none;
	background-color: white;
	overflow: auto;
	border: 1px #000000 solid;
}

.neurosmart-footer {
	position: absolute;
	bottom: 0;
}

.neurosmart-footer > img {
	padding: 5px 5px 2px 5px;
}
	
.neurosmart-fullscreen {
	width:15px;
	height:15px;
	cursor: pointer;
}
